<a href="https://colab.research.google.com/github/mahidharreddy5021/assignment-01/blob/master/assignment_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a python program to create a tuple.

In [ ]:
t=(9,12,2,3,5)
print(t,type(t))

(9, 12, 2, 3, 5) <class 'tuple'>

2.Write a python program to create a tuple with different data types.

In [ ]:
t=(2,"python",'256',5.28)
print(t,type(t))

(2, 'python', '256', 5.28) <class 'tuple'>

3.Write apython program to convert tuple to a string.

In [ ]:
t=('l','u','c','k','y')
t=''.join(t)
print(t,type(t))

lucky <class 'str'>

4.Write a python to slice a tuple.

In [ ]:
t=(1,2,3,(8,9),(5,7,6),10,4)
slice=t[1:5]
print(slice)

(2, 3, (8, 9), (5, 7, 6))

5.Write a python program to find length of a tuple.

In [ ]:
t=(25,7,9,(2,3,5),35,90)
len(t)

6

6.Write a python program to reverse a tuple.

In [ ]:
t=(12,5,7,8,3,2,9)
a=reversed(t)
print(tuple(a))

(9, 2, 3, 8, 7, 5, 12)

7.Write a python program to convert list to a tuple.

In [ ]:
list=[4,9,8,3,5,2]
print(list,type(list))
t=tuple(list)
print(t,type(t))

[4, 9, 8, 3, 5, 2] <class 'list'>
(4, 9, 8, 3, 5, 2) <class 'tuple'>