<a href="https://colab.research.google.com/github/mahidharreddy5021/assignment-01/blob/master/assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.convert binary numbers to decimal.

In [ ]:
print("Enter 'x for exit");
binary = input("Enter number in Binary Format:");
if binary == 'x':
  exit();
else:
    decimal = int(binary, 2);
    print(binary,"in Decimal =",decimal);

Enter 'x for exit
Enter number in Binary Format:100000
100000 in Decimal = 32

2.Generate first N number of Fibonacci numbers.Take N value from user.

In [ ]:
def Fibonacci(n):
    if n<0:
      print("Incorrect input")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
print(Fibonacci(5))

3

3.Dispaly multiplication table of K.Take K value from user

In [ ]:
k=int(input('Enter a k value to display its multiplication table'))
for i in range (1,11):
  print(k, 'x', i, '=',k*i)

Enter a k value to display its multiplication table15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

4.Take 10 integers from keyboard using loop and print their average value on the screen print the following patterns using loop:
*
**
***
****

In [ ]:
N= int(input("how many terms"))
sum=0
for i in range(N):
  numbers=float(input("enter the value of number"))
  sum+=numbers
average=sum/N
print("the average of values are",average)

how many terms10
enter the value of number2
enter the value of number3
enter the value of number6
enter the value of number8
enter the value of number9
enter the value of number10
enter the value of number4
enter the value of number5
enter the value of number7
enter the value of number9
the average of values are 6.3

In [ ]:
num=int(input("enter the no of rows"))
for i in range(1,num+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter the no of rows4
*
**
***
****

5.Write a python program to find greatest common divisor(GCD) or highest common factor(HCF) of given two numbers.

In [ ]:
def hcf(x,y):
  if x > y :
    smaller = y
  else:
    smaller = x
  for i in range(1, smaller+1):
      if((x % i == 0) and (y % i == 0)):
          hcf = i
  return hcf

In [ ]:
num1 = 25
num2 =47
print("The H.C.F.  is", hcf(num1, num2))

The H.C.F.  is 1

6.Write a python program that accepts a word from the user and reverse it.

In [ ]:
	word = input("Input a word to reverse: ")
	
	for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
	print("\n")

Input a word to reverse: English
hsilgnE

7.Write a python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
numbers =(1,2,5,9,4,6,16,12,18)
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 6
Number of odd numbers : 3

8.Write a python program that prints all the numbers from 0 to 6 excepts 3 and 6.

In [ ]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x, end='')
print("\n")

01245