<a href="https://colab.research.google.com/github/mahidharreddy5021/assignment-01/blob/master/assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input('Enter the number to display its multipllication table'))
for i in range (1,11):
   print(n,'x',i,'=',n*i)

Enter the number to display its multipllication table3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
for i in range(-5,20,2):
  print(i,end=' ')

-5 -3 -1 1 3 5 7 9 11 13 15 17 19

In [ ]:
for char in  'gitam university':
  print(char)

g
i
t
a
m

u
n
i
v
e
r
s
i
t
y