<a href="https://colab.research.google.com/github/mahidharreddy5021/assignment-01/blob/master/python_assigment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input())
b=int(input())
c=(a+b,a-b,a/b,a*b,a//b,a**b)
print(c)

3
7
(10, -4, 0.42857142857142855, 21, 0, 2187)

program to calculate simple interest

In [ ]:
p=int(input())
t=int(input())
r=int(input())
print((p*t*r)/100)

5
6
10
3.0

program to calculate the area of a circle

In [ ]:
radius=float(input())
print(3.14*radius**2)

5
78.5

program to calculate area of triangle

In [ ]:
length=int(input())
breadth=int(input())
print(0.5*length*breadth)

7
8
28.0

program to temperature in celsius to fahrenheit

In [ ]:
celsius=float(input())
print(celsius*1.8+32)

8
46.4

program to calculate area of rectangle

In [ ]:

length=int(input())
breadth=int(input())
print(length*breadth)

2
3
6

program to calculate perimeter of square

In [ ]:
a=int(input())
print(4*a)

2
8

program to calculate circumference of a circle

In [ ]:

radius=int(input())
print(2*3.14*radius)

2
12.56

program to swap two numbers

In [ ]:
a=(input())
b=int(input())
temp=a
a=b
b=temp
print(a,b)

2
3
3 2